/* html, body {
    height: 100%;
} */

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

fieldset {
    width: 600px;
    margin: auto;
} 

h1 {
    text-align:center;
}

#conversation {
    width: 600px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow-x: hidden;
    overflow-y: scroll; 
    padding: 5px;
}

.avatar {
    max-width: auto;
    margin-right:6px;
    height:calc(1.5em + .75rem + 2px);
}
/* .header {
    max-width: 10%;
    background-color: black;
} */
/* .container {
    max-width: 10%;
}
.test {
    background-color: chartreuse;
    max-width: 100%;
} */
@media screen and (max-width: 900px) {
    /* .header {
        max-width: 1%;
        background-color: black;
    } */
    /* .navbar-brand {
        min-width: 100%;
        background-color: black;
    } */
    .test {
        background-color: chartreuse;
        max-width: 100%;
    } 
    body {
        display: none;
        align-items: center;
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #eb4343;
    }
}